@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Satisfy&display=swap');


body{
    border: 1px solid black;
    padding: 10px;
    max-width: 600px;
    margin: 30px auto;
}

.main-container{
    display: flex;
}

h1{
    color: rgb(201, 48, 48);
    text-align: center;
}

h2{
    color: rgb(201, 48, 48);
    text-align: center;
}

h3{
    color: rgb(201, 48, 48);
    margin-bottom: -14px;
    font-family: 'Lobster', cursive;
}

.upper_line{
    max-width: 100%;
    /* margin: 0; */
    padding: 0;
    margin-bottom: -135px;
    margin-top: -100px;
}

.last_line{
    max-width: 100%;
}

p{
    color:rgb(218, 204, 169);
}

h4{
    color: rgb(201, 48, 48);
    font-style: italic;
    margin-bottom: -10px;

}

ul{
    padding: 0;
}

li{
    list-style: none;
    padding-right: 10px;
    color:rgb(218, 204, 169);
}

span{
    color: black;
}

ul>li:nth-of-type(1){
    color: black;
}