.dog{
    position: relative;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    
}

.cover{
 display: flex;
  place-items: center;
  z-index: 1;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  
    
}

.flex-form{
    display: flex;
    color: #f1f1f1;
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}

input{
    padding: 1rem;
    border: none;
       
}

label{
    background-color: #fff;
    color: grey;
    align-items: center;
    padding: 1rem;
}

select{
    border: none;
}

input[type="submit"]{
    background-color: #eb1212;
    color: white;
    font-weight: bold;
}

